---
layout: archive
permalink: /publications/
author_profile: true
---


<h2>Selected Publications</h2>
<ol>
  <li>Shah, Osama Shiraz et al. “ATLANTIS - Attractor landscape analysis toolbox for cell fate discovery and reprogramming.” <i>Scientific Reports</i>, vol. 8, no. 1, 2018, pp. 1–11. Nature Publishing Group.</li>

  <li>Ahmed, Umair et al. “Predicting physiological developments from human gait using smartphone sensor data.” <i>arXiv preprint arXiv:1712.07958</i>, 2017.</li>

  <li>Chaudhary, Muhammad FA et al. “Registration-invariant biomechanical features for disease staging of COPD in SPIROMICS.” <i>International Workshop on Thoracic Image Analysis</i>, 2020, pp. 143–154. Springer, Cham.</li>

  <li>Chaudhary, MFA et al. “CT texture features predict severe COPD exacerbations in SPIROMICS.” In: <i>C5. C005 DIAGNOSIS AND PROGNOSIS IN COPD</i>, 2021, pp. A1122–A1122. American Thoracic Society.</li>

  <li>Gondal, Mahnoor Naseer et al. “TISON: a next-generation multi-scale modeling theatre for in silico systems oncology.” <i>bioRxiv</i>, 2021. Cold Spring Harbor Laboratory.</li>

  <li>Chaudhary, Muhammad FA et al. “Single volume lung biomechanics from chest computed tomography using a mode preserving generative adversarial network.” <i>2022 IEEE 19th International Symposium on Biomedical Imaging (ISBI)</i>, 2022, pp. 1–5. IEEE.</li>

  <li>Fortis, S et al. “Association of increased chest CT density (ICTD) with clinical features and emphysema progression in ever smokers.” In: <i>A22. IMAGING AND MOLECULAR BIOMARKERS IN COPD</i>, 2022, pp. A1080–A1080. American Thoracic Society.</li>

  <li>Pan, Yue et al. “Robust Measures of Image-Registration-Derived Lung Biomechanics in SPIROMICS.” <i>Journal of Imaging</i>, vol. 8, no. 11, 2022, p. 309. MDPI.</li>

  <li>Awan, HA et al. “Novel QCT textures are associated with sRAGE and IL-6 in SPIROMICS.” 2022. European Respiratory Society.</li>

  <li>Chaudhary, Muhammad FA et al. “Predicting severe chronic obstructive pulmonary disease exacerbations using quantitative CT: a retrospective model development and external validation study.” <i>The Lancet Digital Health</i>, vol. 5, no. 2, 2023, pp. e83–e92. Elsevier.</li>

  <li>Chaudhary, Muhammad F A et al. “Context-aware Volumetric Style Transfer for Estimating Single Volume Surrogates of Lung Function.” US Patent App. 17/891,222, 9 Mar. 2023.</li>

  <li>Gerard, Sarah E et al. “Direct Estimation of Regional Lung Volume Change from Paired and Single CT Images using Residual Regression Neural Network.” <i>Medical Physics</i>, 2023.</li>

  <li>Awan, HA et al. “Deep Residual Convolutional Network Predicts Future Severe Exacerbations of COPD in SPIROMICS.” In: <i>B41. RISK FACTORS AND OUTCOMES FOR COPD EXACERBATIONS</i>, 2023, pp. A3318–A3318. American Thoracic Society.</li>

  <li>Amudala Puchakayala, Praneeth Reddy et al. “Radiomics for improved detection of chronic obstructive pulmonary disease in low-dose and standard-dose chest CT scans.” <i>Radiology</i>, vol. 307, no. 5, 2023, p. e222998. Radiological Society of North America.</li>

  <li>Chaudhary, Muhammad F A et al. “Bridging the Task Barriers: Online Knowledge Distillation Across Tasks for Semi-supervised Mediastinal Segmentation in CT.” <i>International Workshop on Machine Learning in Medical Imaging</i>, 2023, pp. 310–319. Springer Nature Switzerland.</li>

  <li>Chaudhary, Muhammad FA et al. “LungViT: Ensembling Cascade of Texture Sensitive Hierarchical Vision Transformers for Cross-Volume Chest CT Image-to-Image Translation.” <i>IEEE Transactions on Medical Imaging</i>, 2024.</li>

  <li>Chaudhary, MFA et al. “Deep Generative Learning Enables Prediction of Hyperpolarized Gas MR From CT.” In: <i>B80-1. METHODOLOGICAL ADVANCEMENTS IN PULMONARY IMAGING</i>, 2024, pp. A4503–A4503. American Thoracic Society.</li>

  <li>Wu, V et al. “BronchIO: A Zero-shot Learning-based Tool for Pulmonary Airway Analyses.” In: <i>B80-1. METHODOLOGICAL ADVANCEMENTS IN PULMONARY IMAGING</i>, 2024, pp. A4487–A4487. American Thoracic Society.</li>

  <li>Fortis, Spyridon et al. “Association of ground-glass opacities with systemic inflammation and progression of emphysema.” <i>American journal of respiratory and critical care medicine</i>, vol. 210, no. 12, 2024, pp. 1432–1440. American Thoracic Society.</li>

  <li>Nadeem, Maria et al. “Towards robust radiomics and radiogenomics predictive models for brain tumor characterization.” <i>arXiv preprint arXiv:2406.03583</i>, 2024.</li>

  <li>Chaudhary, Muhammad Faizyab Ali. <i>Hearing the Unheard: Single CT Volume Surrogates of Regional Lung Function</i>. PhD thesis, The University of Iowa, 2024.</li>

  <li>Chaudhary, Muhammad FA et al. “Deep Learning Estimation of Small Airways Disease from Inspiratory Chest CT is Associated with FEV1 Decline in COPD.” <i>medRxiv</i>, 2024.</li>

  <li>Chaudhary, Muhammad FA et al. “Beyond Intensity Transforms: Medical Image Synthesis Under Large Deformation.” <i>International Workshop on Simulation and Synthesis in Medical Imaging</i>, 2024, pp. 79–88. Springer Nature Switzerland Cham.</li>

  <li>Chaudhary, Muhammad Faizyab Ali and Bodduluri, Sandeep. “Small Hinges That Swing Big Doors: Small Airways Obstruction and Death.” <i>Chest</i>, vol. 166, no. 4, 2024, pp. 657–658. Elsevier.</li>

  <li>Chaudhary, Muhammad F A et al. “Beyond Intensity Transforms: Medical Image Synthesis Under Large Deformation.” <i>Simulation and Synthesis in Medical Imaging: 9th International Workshop, SASHIMI 2024, Held in Conjunction with MICCAI 2024, Marrakesh, Morocco, October 10, 2024, Proceedings</i>, vol. 15187, 2025, p. 79. Springer Nature.</li>

  <li>Saha, Pratim et al. “Computed tomography radiomics features predict change in lung density and rate of emphysema progression.” <i>Annals of the American Thoracic Society</i>, vol. 22, no. 1, 2025, pp. 83–92. American Thoracic Society.</li>

  <li>Chaudhary, Muhammad FA et al. “Uncertainty-Aware Test-Time Adaptation for Inverse Consistent Diffeomorphic Lung Image Registration.” <i>arXiv preprint arXiv:2411.07567</i>, 2024.</li>

  <li>Chaudhary, Muhammad FA et al. “Deep learning estimation of small airways disease from inspiratory chest CT: clinical validation, repeatability, and associations with adverse clinical outcomes in COPD.” <i>American journal of respiratory and critical care medicine</i>, 2025.</li>

  <li>Awan, Hira A et al. “Lung Quantitative Computed Tomography Textures are Associated with Systemic Inflammation and Mortality in COPD.” <i>Chest</i>, 2025. Elsevier.</li>

  <li>Chaudhary, Muhammad FA. “Moving Beyond Air Trapping with Expiratory CT Radiomics: A Timely Reminder.” <i>Academic Radiology</i>, 2025. Elsevier.</li>

  <li>Chaudhary, MFA et al. “Prediction of 5-Year Mortality in COPD Using Visual Measures of Structural Changes on Chest CT.” <i>American Journal of Respiratory and Critical Care Medicine</i>, vol. 211, Abstracts, 2025, pp. A7687–A7687. American Thoracic Society.</li>
</ol>




{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

